@using JavascriptWebSample.RequireJS

<script>
require.config({
    
    bust: 'v2'
})    

</script>

@{   
    // 用來載入這個 Controller 對應的 js, 每個 Controller 都有其對應的 JS 檔案
    var entryPointPath = Html.RequireJsEntryPoint();
    if(entryPointPath != null)
    {
    <script type="text/javascript">
        /* ==================================================== 
         定義 javscript 的相依性，透過 requirejs 的 AMD 機制
         可以動態載入需要的 javascript
         ==================================================== */
        var requireConfig = {
            pageOptions: {},
            websiteOptions: { homeUrl: '/' }
        };

        var require = {
            locale: '@Html.CurrentCulture()',
            baseUrl: '@Url.Content("~/Scripts")',
            paths: @Html.GetRequireJsPaths(),
            shim: @Html.GetRequireJsShim(),
            hbs: {
                disableI18n: true,
                disableHelpers: true,
                templateExtension: 'html'
            } // for Handlebars
        };

    </script>

    <script data-main="@entryPointPath" src="@Url.Content("~/Scripts/components/requirejs/require.js")"></script>
    }
}
